@{
    ViewData["Title"] = " Описание предметной области";
}
<h1>@ViewData["Title"]</h1>

<p>
    Клиент может оформить один или несколько заказов, у каждого заказа имеется уникальный номер. У заказа есть статус.
    Один клиент может сделать несколько заказов, с разных складов, как на один заказ, так и на несколько. У товаров есть категориия, по которой можно удобно фильтровать товар.
    Каждый сотрудник имеет только одну должность.
</p>
